body {
  font-family: 'Roboto', sans-serif;
}

.pagetitle{
  background-color: #ffeb3b;
  padding: 10px 0 20px;
  color: #b71c1c;
  font-weight: bold;
  text-transform: uppercase;
}
.navbar {
  margin-bottom: 0;
}

section {
  padding: 40px 0;
}
.panjibrand{
    text-transform: capitalize;
}

.logoup{
  text-transform: uppercase;
  font-weight: bold;
  font-size: xx-large;
  letter-spacing: 2px;
}
.highlight{
    color:#ffeb3b;
}

.navbar-default {
  background-color: #2e7d32;
  border-color: #2e7d32;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffeb3b;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffeb3b;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #9b59b6;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ecdbff;
  background-color: #8e44ad;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #8e44ad;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ecdbff;
  background-color: #8e44ad;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffeb3b;
  background-color: #2e7d32;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffeb3b;
  background-color: #2e7d32;
}
.navbar-default .navbar-toggle {
  border-color: #2e7d32;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2e7d32;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffeb3b;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffeb3b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffeb3b;
    background-color: #2e7d32;
  }
}

.jumbotron {
    color: #fff;
    background-color: #2e7d32;
    overflow: none;
    height: 450px;
    background-image: url('../img/jumbotronbg.png');
}

.jumbotron h1{
    margin-top: 80px;
    margin-bottom: 10px;
}

.jumbotron .showcase-img{
    width: 75%;
}

.jumbotron img{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.btn-success{
  background-color: #2e7d32;
  border-color: #2e7d32;
}

.btn-danger{
  background-color: #b71c1c;
  border-color: #b71c1c;
}

.img-circle{
  width: 100%;
}

h3{
  text-transform: uppercase;
  text-align: left;
}
section h2{
  text-transform: uppercase;
}

#gelanggang {
  text-align: center;
  text-transform: uppercase;
}

#gelanggang h2{
  padding: 10px 0 5px;
}

#gelanggang a{
  margin-bottom: 40px;
}

.hijau {
  background-color: #2e7d32;
  color: #fff;
  padding: 40px 0 40px;
}

.article p{
  text-align: justify;
  line-height: 2em;
  padding: 10 10 0 0px;
}

.hijau h2{
  text-transform: uppercase;
  font-weight: bold;
  color: #ffeb3b;
}

.hijau .nophone{
  color: #ffeb3b;
  font-weight: bold;
  letter-spacing: 1px;
  padding-left: 10px;
}

#sejarah h2{
  padding: 30px 0 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

#head-pengenalan img{
  display: block;
  margin: 0 auto;
}

#head-pengenalan h3{
  padding: 30px 0 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

footer{
  background: #b71c1c;
  color: #fff;
  padding: 30px 0 20px;
}
footer li{
  float:left;
  padding: 0 10px;
  list-style: none;
}

footer a{
  color: #fff;
}

footer a:hover{
  color:#ffeb3b;
  text-decoration: none;
}

footer p{
  float: right;
  padding-right: 30px;
}